@font-face {
    font-family: 'adobe_arabicregular';
    src: url('../../assets/fonts/adobearabic-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/adobearabic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  @font-face {
    font-family: 'cadillac_gothicbold';
    src: url('../../assets/fonts/cadillacgothic-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/cadillacgothic-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
     font-family: 'cadillac_gothicmedium';
     src: url('../../assets/fonts/cadillacgothic-medium-webfont.woff2') format('woff2'),
          url('../../assets/fonts/cadillacgothic-medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }

 @font-face {
     font-family: 'cadillac_gothicregular';
     src: url('../../assets/fonts/cadillacgothic-regular-webfont.woff2') format('woff2'),
          url('../../assets/fonts/cadillacgothic-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }

 @font-face {
     font-family: 'cadillac_gothicwide_bold';
     src: url('../../assets/fonts/cadillacgothic-widebold-webfont.woff2') format('woff2'),
          url('../../assets/fonts/cadillacgothic-widebold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }
 @font-face {
     font-family: 'cadillac_gothicwide_medium';
     src: url('../../assets/fonts/cadillacgothic-widemedium-webfont.woff2') format('woff2'),
          url('../../assets/fonts/cadillacgothic-widemedium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }

 @font-face {
     font-family: 'ge_ssmedium';
     src: url('../../assets/fonts/gesstextmedium-medium-webfont.woff2') format('woff2'),
          url('../../assets/fonts/gesstextmedium-medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }
 @font-face {
     font-family: 'ge_ss_twomedium';
     src: url('../../assets/fonts/gesstwomedium-medium-webfont.woff2') format('woff2'),
          url('../../assets/fonts/gesstwomedium-medium-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }

//  @font-face {
//      font-family: "CadillacGothic-WideMedium" ;
//      src: url('/asset_html/en/../assets/fonts/CadillacGothic-WideMedium.otf') format("opentype");
//    }
   
//    @font-face {
//      font-family: "CadillacGothic-Regular" ;
//      src: url('../fonts/CadillacGothic-Regular.otf') format("opentype");
//    }
 
//    @font-face {
//      font-family: "AdobeArabic-Regular" ;
//      src: url('../fonts/AdobeArabic-Regular.otf') format("opentype");
//    }
 
//    @font-face {
//      font-family: "CadillacGothic-Bold" ;
//      src: url('../fonts/CadillacGothic-Bold.otf') format("opentype");
//    }
 
//    @font-face {
//      font-family: "CadillacGothic-Medium" ;
//      src: url('../fonts/CadillacGothic-Medium.otf') format("opentype");
//    }
 
//    @font-face {
//      font-family: "CadillacGothic-WideBold" ;
//      src: url('../fonts/CadillacGothic-WideBold.otf') format("opentype");
//    }
 
//    @font-face {
//      font-family: "GESSTextMedium-Medium" ;
//      src: url('../fonts/GESSTextMedium-Medium.otf') format("opentype");
//    }
 
//    @font-face {
//      font-family: "GESSTwoMedium-Medium" ;
//      src: url('../fonts/GESSTwoMedium-Medium.otf') format("opentype");
//    }