// color
$W:#ffffff;
$B:#000000;
$silver: #c0c0c0;
$grey:#737070;
$grey-light:#7370707b;
$saffron: #f4c945;
// font
// $CWM:"cadillac_gothicwide_medium", sans-serif;
// $CR:"CadillacGothic-Regular", sans-serif;
// $CB:"CadillacGothic-Bold", sans-serif;
// $CM:"CadillacGothic-Medium", sans-serif;
// $CWB:"CadillacGothic-WideBold", sans-serif;
// $GM:"GESSTextMedium-Medium", sans-serif;
// $GTM:"GESSTwoMedium-Medium", sans-serif;
// $CAR:"AdobeArabic-Regular", sans-serif;
$i_font:"icomoon";
$CGR: 'cadillac_gothicregular',Arial, sans-serif;
$CGM: 'cadillac_gothicmedium',Arial, sans-serif;
$CGB: 'cadillac_gothicbold',Arial, sans-serif;
$CGWB: 'cadillac_gothicwide_bold',Arial, sans-serif;
$CGWM: 'cadillac_gothicwide_medium';

//  arabic
$AR: 'adobe_arabicregular';
$GEM: 'ge_ssmedium';
$GSST:'ge_ss_twomedium';


// mediaquery
$bp-sm: 767px;
$bp-lg: 992px;
$bp-xl: 1200px;

// sizes
$size-none: 0;
$size-s: 2px;
$size-x: 5px;
$size-xs: 7px;
$size-xx: 10px;
$size-xxs: 12px;
$size-xxx: 15px;
$size-m: 20px;
$size-l: 25px;
$size-mxx: 30px;
$size-lx: 35px;
$size-2m: 40px;
$size-2mx: 45px;
$size-2l: 50px;


